@{
    ViewBag.Title = "About Me";
}
<h2>My Short Story</h2>


<p>I am a senior at Ohio University. I'm majoring in Management Information Systems and minoring in communications. I am from Findlay, Ohio. I currently reside in Columbus where I work full time as an account executive. </p>


