@{
    ViewBag.Title = "Contact Me";
}
<h2>My Contact Information</h2>

<address>
    Alexis Risner<br />
    5529 Brush Creek Drive Columbus, Ohio 43081<br />
    <abbr title="Phone">P:</abbr>
    419.673.6722
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:ar306514@ohio.edu">ar306514@ohio.edu</a><br />
    
</address>