@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:#D3D3D3">
    <h1 style="color:#3A5F0B">Alexis Risner</h1>
    <p style="color: #3A5F0B" class="lead">This is my MVC application. </p>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Past</h2>
        <p>
            I went to highschool at Arlington. My graduating class was only in the 30s. I coached and played travel softball for the first couple years I was in college then decided to spend my summers in Sandusky where I worked at Cedar Point.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Present</h2>
        <p>
            I recently just moved to Columbus where I work full time as an account executive. I am only enrolled in this one class this semester. The plan is to graduate in December and find a new job in the area. <br />
            @Html.ActionLink("Students", "Create", "Students") <br />
            @Html.ActionLink("Courses", "Create", "Courses") <br />
            @Html.ActionLink("Enrollments", "Creates", "Enrollments")
        </p>
      

    </div>
    <div class="col-md-4">
        <h2>Future</h2>
        <p>
            My goal after graduation is to pursue a career as a consultant. Eventually open up my own consulting company in a third world country as a non profit organization. The goal would be to bring in revenue for the country in the long run.
        </p>
       
    </div>
</div>